/AnimationData.csv
/3572_slp0.4_Rsk0.1_K300_var0_dslm0.4_maxOff6.py.csv
/3578_slp0.4_Rsk0.1_K300_var0_dslm1.0_maxOff6.py.csv
/3736_slp1_Rsk0.3_K300_var0_dslm1.0_maxOff4.py.csv
/3840_slp0.8_Rsk0.3_K300_var0_dslm1.0_maxOff4.py.csv
/4010_slp1_Rsk0.3_K300_var0.2_dslm0.6_maxOff8.py.csv
/4012_slp1_Rsk0.3_K300_var0.2_dslm1.0_maxOff6.py.csv
/Animation.gif
/AnimationData3578.csv
/AnimationData3972.csv
/AnimationData 3840 don't delete.csv
/AnimationData - 4010 Don't delete.csv
/DispSim3736.mp4
/DispSim3840.mp4
/DispSim3972.mp4
/DispSim4010.mp4
/DispSim.mp4
/MakeAnimationFileCorrect.pyc
/MakingBarChart.pyc
/matlibplotVerTest.py
/matplot_FuncAnimTest.pyc
/TestBarPlotAn.pyc
/UpdateColSpace.pyc
/1839_slp1.25_Rsk0.05_K300_var0_dslm0.2_maxOff4.py.csv
/2470_slp0_Rsk0.05_K300_var0_dslm0.2_maxOff6.py.csv
